@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fa
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  border-radius: 5px;
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #7a7a7a54;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #717172;
}
::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #ff4201;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #ff4201;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #ff4201;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
